@import "tailwindcss";
:root {
  background-color: black;
  overflow-x: auto;
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;               /* width of the vertical scrollbar */
  height: 12px;              /* height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #161616;       /* dark track background */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #333;          /* dark thumb color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;          /* slightly lighter on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;     /* options: auto, thin, none */
  scrollbar-color: #333 #1a1a1a; /* thumb color and track color */
}